DB_URL=mongodb+srv://soluservant:soluservant@soluservant-digital-sol.0h7sivs.mongodb.net/here-first
JWT_SECRET=herefirstjwt
GMAIL_ADDRESS=soluservant@gmail.com
GMAIL_PASSWORD=ybyiiolxozxvyuxt
CLOUDINARY_CLOUD_NAME="ddhdyuktu"
CLOUDINARY_CLOUD_API_KEY="866744843578931"
CLOUDINARY_CLOUD_API_SECRET="lgDyPJCWXQ8UDNd1cRNVdvqHUWo"
PAYSTACK_SECRET_KEY=sk_test_9afa15fb554c372c8cd3c111701b5be286a381bc